In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
from sklearn.linear_model import LogisticRegression

In [154]:
data = pd.read_csv('../../../Dataset/Bridges/bridges.data.version1.txt', header=None)
data.head(2)

   0  1   2     3        4     5  6  7        8     9      10 11    12
0  E1  M   3  1818  HIGHWAY     ?  2  N  THROUGH  WOOD  SHORT  S  WOOD
1  E2  A  25  1819  HIGHWAY  1037  2  N  THROUGH  WOOD  SHORT  S  WOOD

In [155]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 13 columns):
0     108 non-null object
1     108 non-null object
2     108 non-null object
3     108 non-null int64
4     108 non-null object
5     108 non-null object
6     108 non-null object
7     108 non-null object
8     108 non-null object
9     108 non-null object
10    108 non-null object
11    108 non-null object
12    108 non-null object
dtypes: int64(1), object(12)
memory usage: 11.0+ KB

In [156]:
data = data.replace('?', np.NaN)

In [157]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 13 columns):
0     108 non-null object
1     108 non-null object
2     107 non-null object
3     108 non-null int64
4     108 non-null object
5     81 non-null object
6     92 non-null object
7     106 non-null object
8     102 non-null object
9     106 non-null object
10    92 non-null object
11    103 non-null object
12    106 non-null object
dtypes: int64(1), object(12)
memory usage: 11.0+ KB

In [158]:
for col in data.columns:
    print col
    
    if pd.isnull(data[col]).any():
        print 'NaNs Found'
        data[col] = data[col].fillna(method='bfill')

0
1
2
NaNs Found
3
4
5
NaNs Found
6
NaNs Found
7
NaNs Found
8
NaNs Found
9
NaNs Found
10
NaNs Found
11
NaNs Found
12
NaNs Found

In [159]:
data.dropna(axis=0, inplace=True)

In [160]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 0 to 105
Data columns (total 13 columns):
0     106 non-null object
1     106 non-null object
2     106 non-null object
3     106 non-null int64
4     106 non-null object
5     106 non-null object
6     106 non-null object
7     106 non-null object
8     106 non-null object
9     106 non-null object
10    106 non-null object
11    106 non-null object
12    106 non-null object
dtypes: int64(1), object(12)
memory usage: 11.6+ KB

In [161]:
data.head(3)

   0  1   2     3         4     5  6  7        8     9      10 11    12
0  E1  M   3  1818   HIGHWAY  1037  2  N  THROUGH  WOOD  SHORT  S  WOOD
1  E2  A  25  1819   HIGHWAY  1037  2  N  THROUGH  WOOD  SHORT  S  WOOD
2  E3  A  39  1829  AQUEDUCT  1000  1  N  THROUGH  WOOD  SHORT  S  WOOD

In [162]:
data[2] = pd.to_numeric(data[2])
data[3] = pd.to_numeric(data[3])
data[5] = pd.to_numeric(data[5])
data[6] = pd.to_numeric(data[6])

In [163]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 0 to 105
Data columns (total 13 columns):
0     106 non-null object
1     106 non-null object
2     106 non-null float64
3     106 non-null int64
4     106 non-null object
5     106 non-null int64
6     106 non-null int64
7     106 non-null object
8     106 non-null object
9     106 non-null object
10    106 non-null object
11    106 non-null object
12    106 non-null object
dtypes: float64(1), int64(3), object(9)
memory usage: 11.6+ KB

In [164]:
data.drop([0], axis=1, inplace=True)

In [165]:
data.head(2)

  1     2     3        4     5   6  7        8     9      10 11    12
0  M   3.0  1818  HIGHWAY  1037   2  N  THROUGH  WOOD  SHORT  S  WOOD
1  A  25.0  1819  HIGHWAY  1037   2  N  THROUGH  WOOD  SHORT  S  WOOD

In [166]:
data[10] = data[10].map({"SHORT":0, "LONG":1, "MEDIUM":1})

In [167]:
for col in data.columns:
    
    if data[col].dtype == 'object':
        data = pd.concat([data, pd.get_dummies(data[col])], axis=1)
        data.drop([col], axis=1, inplace=True)

In [168]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 0 to 105
Data columns (total 30 columns):
2           106 non-null float64
3           106 non-null int64
5           106 non-null int64
6           106 non-null int64
10          106 non-null int64
A           106 non-null float64
M           106 non-null float64
O           106 non-null float64
Y           106 non-null float64
AQUEDUCT    106 non-null float64
HIGHWAY     106 non-null float64
RR          106 non-null float64
WALK        106 non-null float64
G           106 non-null float64
N           106 non-null float64
DECK        106 non-null float64
THROUGH     106 non-null float64
IRON        106 non-null float64
STEEL       106 non-null float64
WOOD        106 non-null float64
F           106 non-null float64
S           106 non-null float64
S-F         106 non-null float64
ARCH        106 non-null float64
CANTILEV    106 non-null float64
CONT-T      106 non-null float64
NIL         106 non-null float64
SIMPLE-T    106 non-null float64
SUSPEN      106 non-null float64
WOOD        106 non-null float64
dtypes: float64(26), int64(4)
memory usage: 25.7 KB

In [169]:
y = data.pop(10).values
print y.shape

(106,)

In [170]:
with open('../../../Dataset/Bridges/train.pkl', 'wb') as fp:
    pkl.dump(data, fp)
with open('../../../Dataset/Bridges/label.pkl', 'wb') as fp:
    pkl.dump(y, fp)

In [171]:
X = data.values

In [151]:
print X.shape

(106, 29)

In [152]:
lr = LogisticRegression()
lr.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [153]:
lr.score(X, y)

0.93396226415094341

### ECOLI DATASET

In [210]:
data = pd.read_csv('../../../Dataset/Mushroom/agaricus-lepiota.data.txt', header=None)
data.head(2)

  0  1  2  3  4  5  6  7  8  9  ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k ...  s  w  w  p  w  o  p  n  n  g

[2 rows x 23 columns]

In [211]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
0     8124 non-null object
1     8124 non-null object
2     8124 non-null object
3     8124 non-null object
4     8124 non-null object
5     8124 non-null object
6     8124 non-null object
7     8124 non-null object
8     8124 non-null object
9     8124 non-null object
10    8124 non-null object
11    8124 non-null object
12    8124 non-null object
13    8124 non-null object
14    8124 non-null object
15    8124 non-null object
16    8124 non-null object
17    8124 non-null object
18    8124 non-null object
19    8124 non-null object
20    8124 non-null object
21    8124 non-null object
22    8124 non-null object
dtypes: object(23)
memory usage: 1.4+ MB

In [212]:
data.replace('?', np.NaN, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
0     8124 non-null object
1     8124 non-null object
2     8124 non-null object
3     8124 non-null object
4     8124 non-null object
5     8124 non-null object
6     8124 non-null object
7     8124 non-null object
8     8124 non-null object
9     8124 non-null object
10    8124 non-null object
11    5644 non-null object
12    8124 non-null object
13    8124 non-null object
14    8124 non-null object
15    8124 non-null object
16    8124 non-null object
17    8124 non-null object
18    8124 non-null object
19    8124 non-null object
20    8124 non-null object
21    8124 non-null object
22    8124 non-null object
dtypes: object(23)
memory usage: 1.4+ MB

In [213]:
data.dropna(axis=1, inplace=True)

In [214]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 22 columns):
0     8124 non-null object
1     8124 non-null object
2     8124 non-null object
3     8124 non-null object
4     8124 non-null object
5     8124 non-null object
6     8124 non-null object
7     8124 non-null object
8     8124 non-null object
9     8124 non-null object
10    8124 non-null object
12    8124 non-null object
13    8124 non-null object
14    8124 non-null object
15    8124 non-null object
16    8124 non-null object
17    8124 non-null object
18    8124 non-null object
19    8124 non-null object
20    8124 non-null object
21    8124 non-null object
22    8124 non-null object
dtypes: object(22)
memory usage: 1.4+ MB

In [215]:
print np.unique(data[0])
y = data.pop(0)
y = y.map({"p": 1, "e": 0})
y = y.values
print y.shape

['e' 'p']
(8124,)

In [216]:
for col in data.columns:
    if data[col].dtype == 'object':
        
        data = pd.concat([data, pd.get_dummies(data[col])], axis=1)
        data.drop([col], axis=1, inplace=True)

In [217]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Columns: 112 entries, b to w
dtypes: float64(112)
memory usage: 6.9 MB

In [218]:
data.head(2)

,b,c,f,k,s,x,f,g,s,y,...,s,v,y,d,g,l,m,p,u,w
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [219]:
lr = LogisticRegression()

In [220]:
lr.fit(data.values, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [223]:
lr.score(data.values, y)

1.0

In [224]:
with open('../../../Dataset/Mushroom/train.pkl', 'wb') as fp:
    pkl.dump(data, fp)
with open('../../../Dataset/Mushroom/label.pkl', 'wb') as fp:
    pkl.dump(y, fp)

## Census data

In [225]:
with open('../../../Dataset/Adult/train.pkl', 'rb') as fp:
    data = pkl.load(fp)

In [227]:
data.head(2)

,0,2,4,10,11,12,14,Federal-gov,Local-gov,Never-worked,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,39,77516,13,2174,0,40,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,50,83311,13,0,0,13,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [229]:
y = data.pop(14).values

In [230]:
with open('../../../Dataset/Adult/train.pkl', 'wb') as fp:
    pkl.dump(data, fp)

In [231]:
with open('../../../Dataset/Adult/label.pkl', 'wb') as fp:
    pkl.dump(y, fp)